/* ===================
  トップ
=================== */
.top-wrapper img {
  width: 100%;
  height: auto;
}

.top-information {
  width: 80vw;
  height: 200px;
  background-color: rgba(197, 189, 189, 0.459);
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid;
}

.top-inner {
  margin: 0px 30px;
}

.top-inner h1 {
  margin: 0;
}

.top-inner ul {
  list-style: none;
}


/* ===================
  section
=================== */
.content-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
}

.content-inner {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

/* icon */
.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 1070px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  transition: all 0.1s;
  border-radius: 40px;
}

.icon:hover {
  font-size: 35px;
}